/*.jumbotron .container {
    text-align: left;
    padding-left: 0px;
}*/

.jumbotron .container-left .lead { 
    margin-top: 50px;
    padding-left:30px;
}

.jumbotron .container-left button{
    margin-top: 50px;
    margin-left:30px;
    width:150px;
}

#hide{
  background-color: red;
  margin-bottom: 50px;
}
#rationale{
  font-size: 25px;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}